#title1 {
    margin-left: 0;
    display: flex;
    align-items: center;
}

textarea {
    font-size: 3.5vw;
    padding: 12px 20px;
}

.numberInput {
    font-size: 4.5vw;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 40%;
    size: inherit;
    text-align: center;
}

p {
    font-size: 2.2vw;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

#notesContainer {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(246, 95, 99, 1) 0%, rgba(223, 97, 142, 1) 90.1%);
    color: #ffffff;
}

.singleInputContainer {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.formText {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 4.5vw;
}

#buttonContainer {
    flex-flow: column;
}

@media only screen and (max-width: 640px) {
    .notes {
        font-size: 5vw;
    }

    .formText {
        font-size: 5vw;
    }

    .numberInput{
        font-size: 5vw;
    }
    
}